.about {
    table {
        width:100%;
        border : solid black 1px;
    }
    .left{
        text-align: left;
    }
    .center{
        text-align: center;
    }
    td {
        border : solid black 1px;
        padding: 1em 0 1em 0.5em;
    }
    th {
        border : solid black 1px;
        padding: 1em 0 1em 0;
    }
    #numero{
        font-size: 10em;
        font-weight: 900;
    }
}
