doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='')

        title Asesorías España

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js', crossorigin='anonymous')

        // Simple line icons
        link(href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css', rel='stylesheet')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        a.menu-toggle.rounded(href='#')
            i.fas.fa-bars
        nav#sidebar-wrapper
            ul.sidebar-nav
                li.sidebar-brand
                    a(href='/') Asesorias España
                li.sidebar-nav-item
                    a(href='#page-top') Inicio
                li.sidebar-nav-item
                    a(href='#about') Detalle
                li.sidebar-nav-item
                    a(href='#contact') Contacto

        // Header
        header.masthead.d-flex.align-items-center
            .container.px-4.px-lg-5.text-center
                h1.mb-1 ¿Qué es la Convalidación?
                hr
                a.btn.btn-secondary.btn-xl(href='#about') Saber más

        // About
        section#about.about.content-section.bg-light
            .container.px-4.px-lg-5.text-center
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-10
                        h2 Convalidación
                        p.lead.mb-5 El reconocimiento oficial, a efectos académicos, de la validez de estudios superiores realizados en el extranjero, hayan finalizado o no con la obtención de un título, respecto de estudios universitarios españoles que permitan proseguir dichos estudios en una universidad española.
                        h3.mb-5
                            em ANEXO II
                        table.left
                            tr.center
                                th Ramas de conocimiento Real Decreto 1393/2007
                                th Campo específico
                            tr
                                td(rowspan="3") Artes y humanidades.
                                td 021 Artes.
                            tr
                                td 022 Humanidades (excepto idiomas).
                            tr
                                td 023 Idiomas.
                            tr
                                td(rowspan="8") Ciencias Sociales y Jurídicas.
                                td 001 Programas y certificaciones básicos 002 Alfabetización y aritmética elemental 003 Competencias personales y desarrollo.
                            tr
                                td 011 Educación.
                            tr
                                td 031 Ciencias sociales y del comportamiento.
                            tr
                                td 032 Periodismo e información.
                            tr
                                td 041 Educación comercial y administración.
                            tr
                                td 042 Ciencias Jurídicas (títulos no conducentes a la habilitación o acceso a la misma para el ejercicio de abogado y procurador de los tribunales –Anexo I–).
                            tr
                                td 101 Servicios personales 102 Servicios de higiene y salud ocupacional 103 Servicios de seguridad.
                            tr
                                td 104 Servicios de transporte.
                            tr
                                td(rowspan="4") Ciencias.
                                td 051 Ciencias biológicas y afines.
                            tr
                                td 052 Medio ambiente.
                            tr
                                td 053 Ciencias físicas, químicas y geológicas.
                            tr
                                td 054 Matemáticas y estadística.
                            tr
                                td(rowspan="7") Ingeniería y Arquitectura.
                                td 061 Tecnologías de la información y la comunicación (TIC).
                            tr
                                td 071 Ingeniería y profesiones afines (títulos no habilitantes para el ejercicio de profesión regulada –Anexo I–).
                            tr
                                td 072 Industria y producción.
                            tr
                                td 073 Arquitectura y construcción (títulos no habilitantes para el ejercicio de profesión regulada –Anexo I–).
                            tr
                                td 081 Agricultura (títulos no habilitantes para el ejercicio de profesión regulada –Anexo I–).
                            tr
                                td 082 Silvicultura (títulos no habilitantes para el ejercicio de profesión regulada –Anexo I–).
                            tr
                                td 083 Pesca.
                            tr
                                td(rowspan="3") Ciencias de la Salud.
                                td 084 Veterinaria (títulos no habilitantes para el ejercicio de profesión regulada –Anexo I–).
                            tr
                                td 091 Salud (títulos no habilitantes ni que conduzcan al acceso a títulos habilitantes para el ejercicio de profesión regulada –Anexo I–).
                            tr
                                td 092 Bienestar (títulos no habilitantes para el ejercicio de profesión regulada –Anexo I–).

        // Call to Action
        section#contact.content-section.bg-light
            .container.px-4.px-lg-5.text-center
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-10
                        h2 Contacto
                        p.lead.mb-5 Escríbenos para recibir asesoria completa
                        a.btn.btn-xl.btn-dark(href='https://wa.me/+573212215187')
                            i.fa-brands.fa-whatsapp
                            span +57 321 221 5187
                        a.btn.btn-xl.btn-dark(href='https://wa.me/+573212216436')
                            i.fa-brands.fa-whatsapp
                            span +57 321 221 6436
                        hr
                        a.btn.btn-secondary.btn-xl(href='/') Regresar al inicio

        // Footer
        footer.footer.text-center
            .container.px-4.px-lg-5
                ul.list-inline.mb-5
                    li.list-inline-item
                        a.social-link.rounded-circle.text-white.mr-3(href='https://www.instagram.com/asesorias_espana/')
                            i.icon-social-instagram
                p.text-muted.small.mb-0 Copyright &copy; Asesorias España 2022

        // Scroll to Top Button
        a.scroll-to-top.rounded(href='#page-top')
            i.fas.fa-angle-up

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
