doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='')

        title Asesorías España

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js', crossorigin='anonymous')

        // Simple line icons
        link(href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css', rel='stylesheet')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        a.menu-toggle.rounded(href='#')
            i.fas.fa-bars
        nav#sidebar-wrapper
            ul.sidebar-nav
                li.sidebar-brand
                    a(href='#page-top') Asesorias España
                li.sidebar-nav-item
                    a(href='#page-top') Inicio
                li.sidebar-nav-item
                    a(href='#about') Acerca
                li.sidebar-nav-item
                    a(href='#services') Servicios
                li.sidebar-nav-item
                    a(href='#contact') Contacto

        // Header
        header.masthead.d-flex.align-items-center
            .container.px-4.px-lg-5.text-center
                img.img-fluid-logo(src='assets/img/logo-ae.png', alt='logo')
                h3.mb-5
                    em Homologación y Convalidación de títulos profesionales en España
                a.btn.btn-secondary.btn-xl(href='#about') Saber más

        // About
        section#about.about.content-section.bg-light
            .container.px-4.px-lg-5.text-center
                .content-section-heading
                    h2.mb-5 Nosotros
                    p.lead.mb-5 Somos un equipo de profesionales con una amplia experiencia en asesoramiento y acompañamiento en los trámites de homologaciones y convalidaciones de títulos profesionales en España.
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-6.col-md-6.mb-5.mb-lg-0
                        h3 Objetivo
                        p.lead.mb-5 Dirigir tu profesión al viejo continente a través de una excelente praxis.
                    .col-lg-6.col-md-6.mb-5.mb-lg-0
                        h3 Valores
                        p.lead.mb-5 Responsabilidad, confianza, honestidad y compromiso.
                    h2 Trámites gestionados
                    p#numero 587
                a.btn.btn-secondary.btn-xl(href='#services') Servicios

        // Services
        section#services.content-section.bg-primary.text-white.text-center
            .container.px-4.px-lg-5
                .content-section-heading
                    h2.mb-5 Servicios
                .row.gx-4.gx-lg-5
                    .col-lg-4.col-md-6.mb-5.mb-lg-0
                        span.service-icon.rounded-circle.mx-auto.mb-3
                            i.icon-graduation
                        h4
                            strong Homologación
                        p.text-faded.mb-0 Es un trámite que permite el reconocimiento oficial de la formación, equiparable a la exigida de un título español que habilite para el ejercicio de una profesión regulada.
                        hr
                        a.btn.btn-secondary.btn(href='/homologacion.html') Quiero saber más
                    .col-lg-4.col-md-6.mb-5.mb-lg-0
                        span.service-icon.rounded-circle.mx-auto.mb-3
                            i.icon-book-open
                        h4
                            strong Convalidación
                        p.text-faded.mb-0 Es un trámite que permite el reconocimiento oficial de la validez de estudios superiores que permitan proseguir dichos estudios en una universidad española.
                        hr
                        a.btn.btn-secondary.btn(href='/convalidacion.html') Quiero saber más
                    .col-lg-4.col-md-6.mb-5.mb-md-0
                        span.service-icon.rounded-circle.mx-auto.mb-3
                            i.icon-docs
                        h4
                            strong Apostille
                        p.text-faded.mb-0 Apostille de documentos con el fin de certificar la autenticidad de la firma de funcionarios públicos o agentes diplomáticos para que el documento sea válido y surta efectos legales en otro país miembro del Convenio de la Haya de 1961.

        // Call to Action
        section#contact.content-section.bg-light
            .container.px-4.px-lg-5.text-center
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-10
                        h2 Contacto
                        p.lead.mb-5 Escríbenos para recibir asesoria completa
                        a.btn.btn-xl.btn-dark(href='https://wa.me/+573144513871')
                            i.fa-brands.fa-whatsapp
                            span +57 314 4513871
                        a.btn.btn-xl.btn-dark(href='https://wa.me/+573212216436')
                            i.fa-brands.fa-whatsapp
                            span +57 321 221 6436

        // Footer
        footer.footer.text-center
            .container.px-4.px-lg-5
                ul.list-inline.mb-5
                    li.list-inline-item
                        a.social-link.rounded-circle.text-white.mr-3(href='https://www.instagram.com/asesorias_espana/')
                            i.icon-social-instagram
                p.text-muted.small.mb-0 Copyright &copy; Asesorias España 2022

        // Scroll to Top Button
        a.scroll-to-top.rounded(href='#page-top')
            i.fas.fa-angle-up

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
